* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background: #f1f5f8;
  color: #222;
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 750px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #c35600;
}

.book h1 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.book h4 {
  font-size: 0.75rem;
  color: grey;
  margin-top: 0.5rem;
}

.book img {
  margin-top: 1rem;
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.eventExample {
  margin-top: 2rem;
  text-align: center;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: capitalize;
}
